## Introduction to Databases

### Using [DoltHub](https://www.dolthub.com/)

[Tutorial](https://www.dolthub.com/docs/tutorials/dolthub/)

!sudo pip install doltpy

In [26]:
import requests
import json
import pandas as pd
from doltpy.core import Dolt
from doltpy.core.read import read_table, pandas_read_sql

### Using Dolthub via API with requests

In [21]:
api_root = 'https://dolthub.com/api/v1alpha1/{}/{}'

owner = 'dolthub'
repo = 'corona-virus'
branch = 'master'

In [25]:
res = requests.get(api_root.format(owner, repo))
res.json()

{'query_execution_status': 'Success',
 'query_execution_message': '',
 'repository_owner': 'dolthub',
 'repository_name': 'corona-virus',
 'commit_ref': 'master',
 'sql_query': 'SHOW TABLES;',
 'schema': [{'columnName': 'Table',
   'columnType': 'String',
   'isPrimaryKey': False}],
 'rows': [{'Table': 'case_details'},
  {'Table': 'cases'},
  {'Table': 'cases_by_age_range'},
  {'Table': 'cases_by_age_sex'},
  {'Table': 'cases_by_sex'},
  {'Table': 'characteristics_age'},
  {'Table': 'characteristics_case_severity'},
  {'Table': 'characteristics_comorbid_condition'},
  {'Table': 'characteristics_occupation'},
  {'Table': 'characteristics_onset_date_range'},
  {'Table': 'characteristics_province'},
  {'Table': 'characteristics_sex'},
  {'Table': 'characteristics_wuhan_exposed'},
  {'Table': 'current'},
  {'Table': 'current_cases'},
  {'Table': 'current_deaths'},
  {'Table': 'current_recovered'},
  {'Table': 'deaths_by_age_range'},
  {'Table': 'deaths_by_age_sex'},
  {'Table': 'deaths_by_sex'},
  {'Table': 'mortality_rate_by_age_range'},
  {'Table': 'mortality_rate_by_age_sex'},
  {'Table': 'mortality_rate_by_sex'},
  {'Table': 'mortality_rates'},
  {'Table': 'places'},
  {'Table': 'time_series'}]}

In [45]:
query = '''
SELECT cases.confirmed_count, cases.death_count, places.country_region  
FROM cases
INNER JOIN places
ON places.place_id = cases.place_id
WHERE places.place_id = 98
LIMIT 100
'''

res = requests.get('https://www.dolthub.com/api/v1alpha1/{}/{}/{}'.format(owner, repo, branch), params={'q': query})

#res.json()
pd.DataFrame(res.json()['rows']).head(10)

  confirmed_count death_count country_region
0               0           0         Brazil
1               1        null         Brazil
2               2        null         Brazil
3               4        null         Brazil
4              13        null         Brazil
5              20        null         Brazil
6              25        null         Brazil
7              31        null         Brazil
8              38        null         Brazil
9              52        null         Brazil